src/jade/index.jade
doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="dist/css/style.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
  body

    h1#mainTitle Star wars species
    #loading
      img(src="dist/img/darth-vader.png", alt="loading", class="run-infiniteRotateX")
      span Loading...
      q Your focus determine your reality
    #homepage
    #detailpage

    template#home
      .species
        h3.name
        p.classification
        p.language
        a(href="#")
          i.fa.fa-chevron-right.fa-2x

    template#detail
      .species_detail
        h3.name
        p.classification
        p.designation
        p.average_height
        p.skin_colors
        p.hair_colors
        p.eye_colors
        p.average_lifespan
        p.language
        a(href="#")
          i.fa.fa-close.fa-2x

    script(type="text/javascript", src="dist/js/script.min.js")
    //- script(type='text/javascript', src="dist/js/helper.js")
    //- script(type='text/javascript', src="dist/js/routes.js")
    //- script(type='text/javascript', src="dist/js/model.js")
    //- script(type='text/javascript', src="dist/js/view.js")
    //- script(type='text/javascript', src="dist/js/controller.js")
    //- script(type='text/javascript', src="dist/js/app.js")

index.html
<!DOCTYPE html><html lang="en"><head><title></title><link href="dist/css/style.min.css" rel="stylesheet"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"></head><body><h1 id="mainTitle">Star wars species</h1><div id="loading"><img src="dist/img/darth-vader.png" alt="loading" class="run-infiniteRotateX"><span>Loading...</span><q>Your focus determine your reality</q></div><div id="homepage"></div><div id="detailpage"></div><template id="home"><div class="species"><h3 class="name"></h3><p class="classification"></p><p class="language"></p><a href="#"><i class="fa fa-chevron-right fa-2x"></i></a></div></template><template id="detail"><div class="species_detail"><h3 class="name"></h3><p class="classification"></p><p class="designation"></p><p class="average_height"></p><p class="skin_colors"></p><p class="hair_colors"></p><p class="eye_colors"></p><p class="average_lifespan"></p><p class="language"></p><a href="#"><i class="fa fa-close fa-2x"></i></a></div></template><script type="text/javascript" src="dist/js/script.min.js"></script></body></html>
